.about{
    background-color: $bg-grey;
    padding: 70px 0 90px 0;
    color: $font-blue;
    @include bp(660px){
        padding: 40px 0 35px 0;
    }
    .about__header{
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
        @include bp(660px){
            font-size: 24px;
        }
    }
    .about__text{
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        padding: 0 150px;
        
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        @include bp(800px){
            padding: 0 50px;
        }
        @include bp(660px){
            padding: 0;
        }
    }
}
