.nav{
    height: 100%;
    margin-right: 60px;
    @include bp(660px){
        margin-right: 0;
        position: relative;
    }
    .nav__list{
        display: flex;
        height: 100%;
        transition: all linear 0.15s;
        @include bp(660px){
            border-radius: 10px;
            border: 1px $font-white solid;
        }
        .showMenu &{
            @include bp(660px){
                transform: translateX(0);
            }
        }
        @include bp(660px){
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 90px;
            margin-right: -85px;
            transform: translateX(150%);
            height: auto;
            padding-right: 30px;
            background-color: lighten($color: $bg-blue, $amount: 1.2);
            @media (max-height: 660px) {
                top: 50px;
            }

        }
        .nav__item{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            cursor: pointer;
            
            @include bp(660px){
                padding: 12px;
                justify-content: flex-end;
                border-bottom: 1px $font-white solid;
                overflow: hidden;
            }
            &:last-child{
                @include bp(660px){
                    border-bottom: none;
                }
            }

            .nav__label{
                white-space: nowrap;
                
                &::after{
                    content: "";
                    display: block;
                    margin-top: 2px;
                    background-color: $font-white;
                    width: 0;
                    height: 1px;
                    transition: linear 0.15s;

                }
                
            }
            &:hover .nav__label::after{
                width: 100%;
            }
        }
    }
}