<header class="header" id="header">
    <div class="container header__container">
        <div class="header__left">   
            <a class="header__logo" href="#">logotype</a>
        </div>

        <div class="header__right">
            <div class="burger">
                <span id="burger" class="burger__line">burger</span>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item" data-scroll="advantages">
                        <span class="nav__label">Our advantages</span>
                    </li>
                    <li class="nav__item" data-scroll="about">
                        <span class="nav__label">About us</span>
                    </li>
                    <li class="nav__item" data-scroll="contacts">
                        <span class="nav__label">Сontacts</span>
                    </li>
                </ul>
            </nav>
            <div class="header__tel">
                <a href="tel:+79876543210">+7 987 654-32-10</a>
            </div>
        </div>
    </div>
</header>

